.authorized-container {
    .navbar-contents {
        justify-content: space-between;
        .nav-link {
            cursor: pointer;
        }
    }
    .widget-gallery {
        .widget-grid {
            border-width: 1px;
            border-color: white;
            border-style: dashed;
        }
        .widget-wrapper-header {
            border-width: 1px;
            border-color: red;
            border-style: dashed;
            height: 10px;
        }
    }
}