.contact-us {
    .form-control {
        border: 1px solid #ddd;
        border-radius: 0;
    }
    input::placeholder,
    textarea::placeholder {
        color: #b7b7b7;
        font-weight: 300;
    }
    .btn {
        padding: 1rem 2rem;
        border-radius: 0;
        border: transparent;
        background-color: rgba(0, 0, 0, .8);
        color: #fff; 
        font-weight: 100;
        margin-top: 3rem;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .contact-us {
        input {
            margin-bottom: 10px;
        }
        textarea {
            height: 120px !important;
        }
    }
}