/* header */
.authorized-container {
    nav {
        width: 100%;
        height: 60px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, .1);
    }
    .logout {
        margin-left: 1rem;
    }
}
    
    .dashboards {
        display: flex;
        justify-content: center;
        width: 100%;
        height: calc(100% - 60px);
        background-color: #f9f9f9;

    .dashboard-container {
        // width: calc(100% - 300px);
        flex-basis: 85%;
        padding: 2rem;
        background-color: #fff;
        border-left: 1px solid #e3e3e3;
        overflow-y: auto;

        .dashboard-header {
            width: 700px;
            height: 50px;
            display: flex;
            justify-content: space-between;

            h5 {
                line-height: 40px;
            }

            .btn-wrapper {
                display: flex;
                justify-content: space-between;
                min-width: 200px;
            }

            button {
                width: 40px;
                height: 40px;
                background-color: #ededed;
                border: 1px solid #ccc;
            }
        }
        
        .dashboard-body {
            width: 700px;
        }
    }
    .widget-types {
        // width: 300px;
        flex-basis: 300px;
        margin: 2rem;
        background-color: #fff;
        border: 1px solid #dddddd;

        .title {
            display: block;
            height: 55px;
            padding: 15px 20px;
            font-weight: bold;
            border-bottom: 1px solid #dddddd;
        }
        .widgets-wrapper {
            height: calc(100% - 55px);
            padding: 15px 20px;
            overflow-y: auto;
        }

        .widget-type {
            padding: 2rem 0;
            border-bottom: 1px solid #eee;

            &:first-child {
                padding-top: 0;
            }

            .widget-title {
                display: block;
                margin-bottom: .5rem;
            }
        }

        .widget {
            position: relative;
            width: 100%;
            height: 80px;
            border: 1px solid #ccc;
            padding: 2rem 1rem;
            text-align: center;

            &:hover {
                .add-btn {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 80px;
                    background: rgba(0,0,0, .7);
                    &:before,
                    &:after{
                        position: absolute;
                        top: 50%;
                        left: calc(50% - 12px);
                        width: 24px;
                        height: 2px;
                        background: #000;
                        content: '';
                    }
                    &.collapsed {
                        &:after {
                        transform: rotate(90deg);
                        }
                        &:before {
                        transform: rotate(180deg);
                        }
                    }
                }
            }

        }
    }
    .widget-gallery {
        .widget-grid {
            border: 1px solid #ddd;

            &:hover {
                border: 1px solid rgba(255, 177, 190, .8);
            }
        }
        .widget-wrapper-header {
            display: flex;
            justify-content: space-between;
            height: 40px;
            padding: 7px 10px;
            border-bottom: 1px solid #ddd;
            font-size: 1rem;

            &:hover {
                background-color: rgba(255, 177, 190, .1);
                border-bottom: 1px solid rgba(255, 177, 190, .8);
                cursor: all-scroll;
            }

            .close-icon {
                position: relative;
                display: inline-block;
                width: 1.2rem;
                height: 1.2rem;
                overflow: hidden;
                cursor: pointer;

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }

                &::before, &::after {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    top: 63%;
                    left: 0;
                    background-color: #888;
                }
                &:hover {
                    &::before, &::after {
                        background: #333;
                    }
                }
            }
            .delete_widget_btn {
                float: right;
            }
        }
        .react-resizable-handle {
            background: none;

            &::after {
                right: 5px;
                bottom: 5px;
                width: 12px;
                height: 12px;
                border-right: 1px solid #888;
                border-bottom: 1px solid #888;
            }
        }
    }
}