/*
 * Globals
 */

@font-face {
  font-family: OpenSans;
  src: local(OpenSans),
       url('../fonts/OpenSans.eot') format('embedded-opentype'),
       url('../fonts/OpenSans.woff2') format('woff2'),
       url('../fonts/OpenSans.woff') format('woff'),
       url('../fonts/OpenSans.ttf') format('truetype');
  font-style: normal;
  unicode-range: U+0-10FFFF; 
}


html, h1, h2, h3, h4, h5, h6, a, p {
  font-family: OpenSans, sans-serif;
}

ul {
    list-style-type: none;
}

.dropdown-toggle::after {
    position: relative;
    top: 1px;
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    border-style: solid;
    border-color: black;
    margin-left: .5rem;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
}

/* Links */

a {
    color: #fff;
    &:focus,
    &:hover {
        color: #fff;
    }
}

/* Custom default button */

.btn-secondary {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
    &:hover,
    &:focus {
        color: #333;
        text-shadow: none;
        /* Prevent inheritance from `body` */
        background-color: #fff;
        border: .05rem solid #fff;
    }
}

// .btn-success,
// .btn-success.focus,
// .btn-success:focus,
// .btn-success.disabled, 
// .btn-success.disabled:hover, 
// .btn-success:disabled,
// .btn-success:not(:disabled):not(.disabled).active,
// .btn-success:not(:disabled):not(.disabled):active,
// .show>.btn-success.dropdown-toggle {
//     background-color: #222222;
//     border-color: #222222;
//     border-radius: 0;
//     box-shadow: none;
// }
// .btn-success:hover {
//     background-color: lighten(#222222, 5%);
//     border-color: lighten(#222222, 5%);
// }

/*
 * Base structure
 */

html {
    height: 100%;
    background-color: #fff;
}

body {
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

.cover-container {
    max-width: 55em;
}

/*
 * Scroll
 */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #464646;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 177, 190, .8);
}