/*
 * Globals
 */

/* Links */

a {
    color: #fff;
    &:focus,
    &:hover {
        color: #fff;
    }
}

/* Custom default button */

.btn-secondary {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
    &:hover,
    &:focus {
        color: #333;
        text-shadow: none;
        /* Prevent inheritance from `body` */
        background-color: #fff;
        border: .05rem solid #fff;
    }
}

/*
 * Base structure
 */

html {
    height: 100%;
    background-color: #333;
}

body {
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

.cover-container {
    max-width: 42em;
}

// mykim test
.mykim {
  color:antiquewhite;
}