.wedding-information {
    height: calc(100% - 56px);
    .couple-information {
        label {
            font-size: 1.12rem;
        }
    }
    .wedding-hall-map {
        height: 500px;
        #map {
            width: calc(100% - 300px);
            height: 100%;
        }
        #map-search {
            width: 300px;
            height: 100%;
            #placesList {
                height: calc(100% - 60px);
                overflow: auto;
            }
        }
    }
}