.widget-photo-album-bright-1 {
    height: calc(100% - 30px);
    .image-gallery {
        height: calc(100% - 30px);
        .image-gallery-content {
            height: 100%;
        }
        .image-gallery-slide-wrapper.bottom {
            height: calc(100% - 110px);
        }
        .image-gallery-swipe {
            height: 100%;
        }
        .image-gallery-slides {
            height: 100%;
        }
        .image-gallery-slide {
            height: 100%;
        }
        .image-gallery-image {
            height: 100%;
            text-align: center;
            img {
                height: 100%;
                width: auto;
            }
        }
    }
}

.widget-map-bright-1 {
    height: calc(100% - 30px);
    .map {
        height: calc(100% - 120px);
        margin: 20px 20px 20px 20px;
    }
}