.widget-photo-album-bright-1-view {
    height: calc(100% - 40px);
    .image-gallery {
        height: calc(100% - 30px);
        .image-gallery-content {
            height: 100%;
        }
        .image-gallery-slide-wrapper.bottom {
            height: calc(100% - 110px);
        }
        .image-gallery-swipe {
            height: 100%;
        }
        .image-gallery-slides {
            height: 100%;
        }
        .image-gallery-slide {
            height: 100%;
        }
        .image-gallery-image {
            height: 100%;
            text-align: center;
            img {
                height: 100%;
                width: auto;
            }
        }
    }
    .image-gallery-left-nav,
    .image-gallery-right-nav {
        padding: 10px;
        font-size: 3em;
        &:before {
            color: #ccc;
            text-shadow: none;
            transition: color .3s ease-out;
        }
        &:hover {
            &:before {
                color: #333;
            }
        }
    }
}

.widget-photo-album-bright-1-edit {
    height: calc(100% - 40px);
    .edit-image-gallery {
        height: calc(100% - 30px);
        overflow: auto;
    }
    .edit-image {
        height: 50px;
        label {
            height: 100%;
        }
        img {
            height: 100%;
        }
    }
}

.widget-map-bright-1-view {
    height: calc(100% - 40px);
    .map {
        height: calc(100% - 120px);
        margin: 20px 20px 20px 20px;
    }
}

.widget-map-bright-1-edit {
    height: calc(100% - 40px);
    .info {
        height: 80px;
    }
    .wedding-hall-map {
        height: calc(100% - 80px);
        width: 100%;
        margin: 0 0 0 0;
        #map {
            width: calc(100% - 300px);
            height: 100%;
        }
        #map-search {
            width: 300px;
            height: 100%;
            #placesList {
                height: calc(100% - 60px);
                overflow: auto;
            }
        }
    }
}