/*
 * Globals
 */
@font-face {
  font-family: OpenSans;
  src: local(OpenSans), url("../fonts/OpenSans.eot") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype");
  font-style: normal;
  unicode-range: U+0-10FFFF;
}

html, body {
  font-size: 13px;
}

html, h1, h2, h3, h4, h5, h6, a, p {
  font-family: OpenSans, sans-serif;
}

ul {
  list-style-type: none;
}

/* Links */
a {
  color: #fff;
}

a:focus, a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-secondary:hover, .btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-success,
.btn-success.focus,
.btn-success:focus,
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success:disabled,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  background-color: #222222;
  border-color: #222222;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-success:hover {
  background-color: #2f2f2f;
  border-color: #2f2f2f;
}

/*
 * Base structure
 */
html {
  height: 100%;
  background-color: #fff;
}

body {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.cover-container {
  max-width: 55em;
}

.unauthorized {
  height: 100%;
  background-image: url(../images/index.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 1000px #9873946e;
          box-shadow: inset 0 0 0 1000px #9873946e;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 5rem;
}

.masthead-brand {
  margin-bottom: 0;
  text-transform: uppercase;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
}

.nav-masthead .nav-link:hover {
  color: #222;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 2rem;
}

.nav-masthead .active {
  color: #222;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.menu-bar {
  font-size: 13px;
  text-transform: uppercase;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
footer {
  font-size: 12px;
}

.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}

.login .row {
  padding-left: 0;
}

.login .login-btn {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.login #google {
  background: url("../images/icon/icon_google.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  background-color: #d95032;
}

.login #facebook {
  background: url("../images/icon/icon_facebook.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 10px 14px;
  background-color: #3c579e;
}

.login #twitter {
  background: url("../images/icon/icon_twitter.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 82%;
  background-color: #55acee;
}

.login #github {
  background: url("../images/icon/icon_github.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
}

@media (max-width: 768px) {
  .login .login-btn {
    width: 100%;
    height: 50px;
    border-radius: 0;
  }
  .login #google {
    background-size: 45px;
    margin-bottom: 12px;
  }
  .login #facebook {
    background-size: 36px;
    background-position: 48% 4px;
    margin-bottom: 12px;
  }
  .login #twitter {
    background-size: 45px;
    margin-bottom: 12px;
  }
  .login #github {
    background-size: 45px;
  }
}

.authorized-container {
  height: 100%;
}

.authorized-container .navbar-contents {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authorized-container .navbar-contents .nav-link {
  cursor: pointer;
}

.dashboards {
  height: calc(100% - 56px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dashboards .dashboard-container {
  -ms-flex-preferred-size: 700px;
      flex-basis: 700px;
}

.dashboards .dashboard-container .dashboard-header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboards .widget-types {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.dashboards .widget-gallery .widget-grid {
  border-width: 1px;
  border-color: white;
  border-style: dashed;
}

.dashboards .widget-gallery .widget-wrapper-header {
  border-width: 1px;
  border-color: red;
  border-style: dashed;
  height: 30px;
}

.dashboards .widget-gallery .widget-wrapper-header .delete_widget_btn {
  float: right;
}

.widget-photo-album {
  height: calc(100% - 30px);
}

.widget-photo-album .image-gallery {
  height: 100%;
}

.wedding-information {
  height: calc(100% - 56px);
}

.wedding-information .couple-information label {
  font-size: 1.12rem;
}

.wedding-information .wedding-hall-map {
  height: 500px;
}

.wedding-information .wedding-hall-map #map {
  width: calc(100% - 300px);
  height: 100%;
}

.wedding-information .wedding-hall-map #map-search {
  width: 300px;
  height: 100%;
}

.wedding-information .wedding-hall-map #map-search #placesList {
  height: calc(100% - 60px);
  overflow: auto;
}

.contact-us .form-control {
  border: 1px solid #ddd;
  border-radius: 0;
}

.contact-us input::-webkit-input-placeholder,
.contact-us textarea::-webkit-input-placeholder {
  color: #b7b7b7;
  font-weight: 300;
}

.contact-us input:-ms-input-placeholder,
.contact-us textarea:-ms-input-placeholder {
  color: #b7b7b7;
  font-weight: 300;
}

.contact-us input::-ms-input-placeholder,
.contact-us textarea::-ms-input-placeholder {
  color: #b7b7b7;
  font-weight: 300;
}

.contact-us input::placeholder,
.contact-us textarea::placeholder {
  color: #b7b7b7;
  font-weight: 300;
}

@media (max-width: 768px) {
  .contact-us input {
    margin-bottom: 10px;
  }
  .contact-us textarea {
    height: 120px !important;
  }
}

.cover-heading {
  margin-top: 4%;
}
/*# sourceMappingURL=main.css.map */