/*
 * Globals
 */
@font-face {
  font-family: OpenSans;
  src: local(OpenSans), url("../fonts/OpenSans.eot") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype");
  font-style: normal;
  unicode-range: U+0-10FFFF;
}

html, h1, h2, h3, h4, h5, h6, a, p {
  font-family: OpenSans, sans-serif;
}

ul {
  list-style-type: none;
}

.dropdown-toggle::after {
  position: relative;
  top: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: black;
  margin-left: .5rem;
  border-width: 0px 2px 2px 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* Links */
a {
  color: #fff;
}

a:focus, a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-secondary:hover, .btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */
html {
  height: 100%;
  background-color: #fff;
}

body {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.cover-container {
  max-width: 55em;
}

/*
 * Scroll
 */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #464646;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 177, 190, 0.8);
}

.unauthorized {
  height: 100%;
  background-image: url(../images/index.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 1000px #9873946e;
          box-shadow: inset 0 0 0 1000px #9873946e;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

/*
 * Header
 */
.masthead-brand {
  margin-bottom: 0;
  text-transform: uppercase;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
}

.nav-masthead .nav-link:hover {
  color: #222;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 2rem;
}

.nav-masthead .active {
  color: #222;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.menu-bar {
  text-transform: uppercase;
}

.container {
  margin: auto;
}

/*
 * Footer
 */
footer {
  font-size: 12px;
}

.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}

.login .row {
  padding-left: 0;
}

.login .login-btn {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.login #google {
  background: url("../images/icon/icon_google.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  background-color: #d95032;
}

.login #facebook {
  background: url("../images/icon/icon_facebook.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 10px 14px;
  background-color: #3c579e;
}

.login #twitter {
  background: url("../images/icon/icon_twitter.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 82%;
  background-color: #55acee;
}

.login #github {
  background: url("../images/icon/icon_github.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
}

@media (max-width: 768px) {
  .login .login-btn {
    width: 100%;
    height: 50px;
    border-radius: 0;
  }
  .login #google {
    background-size: 45px;
    margin-bottom: 12px;
  }
  .login #facebook {
    background-size: 36px;
    background-position: 48% 4px;
    margin-bottom: 12px;
  }
  .login #twitter {
    background-size: 45px;
    margin-bottom: 12px;
  }
  .login #github {
    background-size: 45px;
  }
}

.authorized-container {
  height: 100%;
}

.authorized-container .navbar-contents {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authorized-container .navbar-contents .nav-link {
  cursor: pointer;
}

/* header */
.authorized-container nav {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.authorized-container .logout {
  margin-left: 1rem;
}

.dashboards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100% - 60px);
  background-color: #f9f9f9;
}

.dashboards .dashboard-container {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  padding: 2rem;
  background-color: #fff;
  border-left: 1px solid #e3e3e3;
  overflow-y: auto;
}

.dashboards .dashboard-container .dashboard-header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboards .dashboard-container .dashboard-header h5 {
  line-height: 40px;
}

.dashboards .dashboard-container .dashboard-header .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 200px;
}

.dashboards .dashboard-container .dashboard-header button {
  width: 40px;
  height: 40px;
  background-color: #ededed;
  border: 1px solid #ccc;
}

.dashboards .widget-types {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  margin: 2rem;
  background-color: #fff;
  border: 1px solid #dddddd;
}

.dashboards .widget-types .title {
  display: block;
  height: 55px;
  padding: 15px 20px;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
}

.dashboards .widget-types .widgets-wrapper {
  height: calc(100% - 55px);
  padding: 15px 20px;
  overflow-y: auto;
}

.dashboards .widget-types .widget-type {
  padding: 2rem 0;
  border-bottom: 1px solid #eee;
}

.dashboards .widget-types .widget-type:first-child {
  padding-top: 0;
}

.dashboards .widget-types .widget-type .widget-title {
  display: block;
  margin-bottom: .5rem;
}

.dashboards .widget-types .widget {
  position: relative;
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  padding: 2rem 1rem;
  text-align: center;
}

.dashboards .widget-types .widget:hover .add-btn {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.7);
}

.dashboards .widget-types .widget:hover .add-btn:before, .dashboards .widget-types .widget:hover .add-btn:after {
  position: absolute;
  top: 50%;
  left: calc(50% - 12px);
  width: 24px;
  height: 2px;
  background: #000;
  content: '';
}

.dashboards .widget-types .widget:hover .add-btn.collapsed:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dashboards .widget-types .widget:hover .add-btn.collapsed:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dashboards .widget-gallery .widget-grid {
  border: 1px solid #ddd;
}

.dashboards .widget-gallery .widget-grid:hover {
  border: 1px solid rgba(255, 177, 190, 0.8);
}

.dashboards .widget-gallery .widget-wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  padding: 7px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
}

.dashboards .widget-gallery .widget-wrapper-header:hover {
  background-color: rgba(255, 177, 190, 0.1);
  border-bottom: 1px solid rgba(255, 177, 190, 0.8);
  cursor: all-scroll;
}

.dashboards .widget-gallery .widget-wrapper-header .close-icon {
  position: relative;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  overflow: hidden;
  cursor: pointer;
}

.dashboards .widget-gallery .widget-wrapper-header .close-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.dashboards .widget-gallery .widget-wrapper-header .close-icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.dashboards .widget-gallery .widget-wrapper-header .close-icon::before, .dashboards .widget-gallery .widget-wrapper-header .close-icon::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 63%;
  left: 0;
  background-color: #888;
}

.dashboards .widget-gallery .widget-wrapper-header .close-icon:hover::before, .dashboards .widget-gallery .widget-wrapper-header .close-icon:hover::after {
  background: #333;
}

.dashboards .widget-gallery .widget-wrapper-header .delete_widget_btn {
  float: right;
}

.dashboards .widget-gallery .react-resizable-handle {
  background: none;
}

.dashboards .widget-gallery .react-resizable-handle::after {
  right: 5px;
  bottom: 5px;
  width: 12px;
  height: 12px;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
}

.widget-photo-album-bright-1 {
  height: calc(100% - 40px);
}

.widget-photo-album-bright-1 .image-gallery {
  height: calc(100% - 30px);
}

.widget-photo-album-bright-1 .image-gallery .image-gallery-content {
  height: 100%;
}

.widget-photo-album-bright-1 .image-gallery .image-gallery-slide-wrapper.bottom {
  height: calc(100% - 110px);
}

.widget-photo-album-bright-1 .image-gallery .image-gallery-swipe {
  height: 100%;
}

.widget-photo-album-bright-1 .image-gallery .image-gallery-slides {
  height: 100%;
}

.widget-photo-album-bright-1 .image-gallery .image-gallery-slide {
  height: 100%;
}

.widget-photo-album-bright-1 .image-gallery .image-gallery-image {
  height: 100%;
  text-align: center;
}

.widget-photo-album-bright-1 .image-gallery .image-gallery-image img {
  height: 100%;
  width: auto;
}

.widget-photo-album-bright-1 .image-gallery-left-nav,
.widget-photo-album-bright-1 .image-gallery-right-nav {
  padding: 10px;
  font-size: 3em;
}

.widget-photo-album-bright-1 .image-gallery-left-nav:before,
.widget-photo-album-bright-1 .image-gallery-right-nav:before {
  color: #ccc;
  text-shadow: none;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

.widget-photo-album-bright-1 .image-gallery-left-nav:hover:before,
.widget-photo-album-bright-1 .image-gallery-right-nav:hover:before {
  color: #333;
}

.widget-map-bright-1 {
  height: calc(100% - 30px);
}

.widget-map-bright-1 .map {
  height: calc(100% - 120px);
  margin: 20px 20px 20px 20px;
}

.wedding-information {
  height: calc(100% - 56px);
}

.wedding-information .couple-information label {
  font-size: 1.12rem;
}

.wedding-information .wedding-hall-map {
  height: 500px;
}

.wedding-information .wedding-hall-map #map {
  width: calc(100% - 300px);
  height: 100%;
}

.wedding-information .wedding-hall-map #map-search {
  width: 300px;
  height: 100%;
}

.wedding-information .wedding-hall-map #map-search #placesList {
  height: calc(100% - 60px);
  overflow: auto;
}

.contact-us .form-control {
  border: 1px solid #ddd;
  border-radius: 0;
}

.contact-us input::-webkit-input-placeholder,
.contact-us textarea::-webkit-input-placeholder {
  color: #b7b7b7;
  font-weight: 300;
}

.contact-us input:-ms-input-placeholder,
.contact-us textarea:-ms-input-placeholder {
  color: #b7b7b7;
  font-weight: 300;
}

.contact-us input::-ms-input-placeholder,
.contact-us textarea::-ms-input-placeholder {
  color: #b7b7b7;
  font-weight: 300;
}

.contact-us input::placeholder,
.contact-us textarea::placeholder {
  color: #b7b7b7;
  font-weight: 300;
}

.contact-us .btn {
  padding: 1rem 2rem;
  border-radius: 0;
  border: transparent;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-weight: 100;
  margin-top: 3rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .contact-us input {
    margin-bottom: 10px;
  }
  .contact-us textarea {
    height: 120px !important;
  }
}

.cover {
  padding: 0 1.5rem;
  margin: auto;
}

.cover .cover-heading {
  padding: 2rem 0;
  margin-bottom: 1.2rem;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 3rem;
}

.cover .btn {
  padding: 1rem 2rem;
  border-radius: 0;
  border: transparent;
  background-color: rgba(255, 177, 190, 0.8);
  color: #fff;
  font-weight: 100;
  margin-top: 3rem;
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */