/*
 * Globals
 */
/* Links */
a {
  color: #fff;
}

a:focus, a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-secondary:hover, .btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */
html {
  height: 100%;
  background-color: #fff;
}

body {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.cover-container {
  max-width: 42em;
}

.mykim {
  color: antiquewhite;
}

.unauthorized {
  height: 100%;
  background-image: url(../images/index.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 1000px #9873946e;
          box-shadow: inset 0 0 0 1000px #9873946e;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}

.login .login-btn {
  height: 100%;
  width: 100%;
}

.login #google {
  background: url("../images/icon/icon_google.png");
  background-size: cover;
  background-position: center;
}

.login #facebook {
  background: url("../images/icon/icon_facebook.png");
  background-size: cover;
  background-position: center;
}

.login #twitter {
  background: url("../images/icon/icon_twitter.png");
  background-size: cover;
  background-position: center;
}

.login #github {
  background: url("../images/icon/icon_github.png");
  background-size: cover;
  background-position: center;
}

.authorized-container {
  height: 100%;
}

.authorized-container .navbar-contents {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authorized-container .navbar-contents .nav-link {
  cursor: pointer;
}

.dashboards {
  height: calc(100% - 56px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dashboards .dashboard-container {
  -ms-flex-preferred-size: 700px;
      flex-basis: 700px;
}

.dashboards .dashboard-container .dashboard-header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboards .widget-types {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.dashboards .widget-gallery .widget-grid {
  border-width: 1px;
  border-color: white;
  border-style: dashed;
}

.dashboards .widget-gallery .widget-wrapper-header {
  border-width: 1px;
  border-color: red;
  border-style: dashed;
  height: 30px;
}

.dashboards .widget-gallery .widget-wrapper-header .delete_widget_btn {
  float: right;
}

.widget-photo-album {
  height: calc(100% - 30px);
}

.widget-photo-album .image-gallery {
  height: 100%;
}

.wedding-information {
  height: calc(100% - 56px);
}

.wedding-information .couple-information label {
  font-size: 1.12rem;
}

.wedding-information .wedding-hall-map {
  height: 500px;
}

.wedding-information .wedding-hall-map #map {
  width: calc(100% - 300px);
}

.wedding-information .wedding-hall-map #map-search {
  width: 300px;
}
/*# sourceMappingURL=main.css.map */